<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:object="${post}" th:action="@{/newpost}">
    <label for="title">Title: </label>
    <input id="title" name="title" placeholder="Title" th:field="*{title}" type="text"/>
    <br>
    <label for="content">Content: </label>
    <input id="content" name="content" type="text" placeholder="Content" th:field="*{content}" />
    <br>
    <br>
    <input name="user" type="hidden" th:field="*{user}"/>
    <input name="id" type="hidden" th:field="*{id}"/>
    <button>Submit</button>
</form>
</body>
</html>